.partner{
    margin-top: 50px;

}
.investor{
    border-top: 4px solid rgba(255, 255, 0, 0.479);
    width: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.img{
    width: 110px;
    height: 46px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 153px;
}
.img{
    cursor: pointer;
}